.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
}

.body{
  background-color: #bbc;
  padding-left: 20px;
}

.header-content{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.grow{
  color: navy;
  font-size: 30px;
}

.header{
  color: navy;
  font-size: large;
  font-weight: bold;
}

.h3{
  font-size: 30px;
  font-weight: bold;
}

.column{
  flex-direction: column;
  display: flex;
}

.checkbox-list-1{
  display: grid;
  grid-template-columns: 1fr;
  order: 1;
}

.checkbox-list-2{
  display: grid;
  grid-template-columns: 1fr;
  order: 2;
}

.P{
  font-size: 30px;
  color: grey;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grow1{
  font-size: 20px;
}

.App-header {
  min-height: auto;
  font-size: calc(10px + 2vmin);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  color: black;
  padding: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.App-signup, .App-speak{
  text-transform: uppercase;
}

.App-speak{
  margin-left: 10px;
}

.caps{
  text-transform: uppercase;
  color: orange;
  text-decoration: underline;
}

.column{
  display: flex;
  flex-direction: row;
}

.right, .left{
  position: relative;
}

.right{
  padding-right: 50px;
}

.body1{
  padding: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.row1{
  display: flex;
}

.wrapper, .header-content{
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  padding: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.images-container-1, .images-container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
}

.image-1{
  flex-basis: 50%;
  order: 4;
  position: relative;
  width: 229.64px;
  height: 135.63;
}

.image-2{
  flex-basis: 35%;
  width: 156.25px;
  height: 151.03px;
  order: 1;
  position: relative;
}

.image-3{
  flex-basis: 50%;
  order: 3;
  position: relative;
  width: 229.64px;
  height: 135.63;
}

.image-4{
  flex-basis: 35%;
  width: 170.92px;
  height: 222.83px;
  order: 2;
}

.max-image{
  order: 1;
  flex-basis: 45%;
}

.max-body{
  order: 2;
  flex-basis: 45%;
}

.max{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.video-frame{
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 5px;
}

.video{
  width: auto;
  position: relative;
  top: -100px;
}

.cap{
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: bold;
}

.text{
  padding-bottom: 10px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.base-line{
  display: grid;
  grid-template-columns: 8fr repeat(5, 1fr);
}

.link{
  color: #33f;
}

.checkbox-list{
  display: grid;
  grid-template-columns: 50% 50%;
}